// base/scaffolding
//--------------------------------

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

::selection { 
	background: $wine; 
	color: $lightness; 
} 

::-moz-selection { 
	background: $wine; 
	color: $lightness; 
}

a {
	color: $wine;
	text-decoration: none;
	
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;

	&:hover { text-decoration: underline; }
}

a, 
button {
	&:focus {
		outline: 0;
	}
}

img {
	-webkit-user-drag: none;
}

img,
embed,
object,
video {
  max-width: 100%;
}

body {	
	font: normal 100%/1.5 $font-regular;
	color: $base-color;
	
	text-rendering: optimizeLegibility;

	-webkit-text-size-adjust: none;
			text-size-adjust: none;
	
	background-color: $lightness;
}

body,
input,
button {
	-webkit-font-smoothing: antialiased;
}