// layout/featured
//--------------------------------------

.featured-container {
	padding: 60px 0 30px;
}

.call-title {
	font-size: 1.688em;
	line-height: normal;
}

.call-title-big {
	margin: 40px 0 60px;
	font-size: 2.750em;
	line-height: normal;
}

.call-content {
	line-height: 32px;
}