// layout/main
//--------------------------------------

.main {
	position: relative;
	top: image-height('bg-header.png');
	z-index: 100;
	width: 100%;
	background-color: $lightness;
}

.main:before {
	content: '';
	position: relative;
	left: 0; top: -8px;
	display: block;
	width: 100%;
	height: image-height( 'zigzag.png' );
	background: image-url('zigzag.png') repeat-x; 
}